<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="./ressources/Assets/images/favicon.png" />
    <link type="text/css" rel="stylesheet" href="./ressources/Assets/css/Bootstrap4/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="./ressources/Assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/datatables.min.css"/>
    {% block scripts %}{% endblock scripts %}
</head>
<body>
    <div class="container">
        {% block body %}{% endblock body %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.6/datatables.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

        {% block scriptsBis %}{% endblock scriptsBis %}
    </div>
</body>
</html>