<article class="col-md-12">
    <header>
        <h1>Actions possibles</h1>
    </header>
    <ul>
        <li class="'col-md-6"><a href="import">Ajouter une Photo</a></li>
        <li class="'col-md-6"><a href="photos">Consulter toutes les photos</a></li>
        <li class="'col-md-6"><a href="photoseries">Consulter les photos non classées</a></li>
    </ul>
</article>