<article class="col-md-12">
    <header>
        <h1>Actions possibles</h1>
    </header>
    <ul>
        <li><a href="addserie">Ajouter une serie</a></li>
        <li><a href="series">Consulter les series</a></li>
    </ul>
</article>