<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index">GeoQuizz Backoffice</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index">Accueil {% if current == 'accueil' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="import">Import de Photos {% if current == 'import' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="series">Series {% if current == 'series' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="photos">Photos {% if current == 'photos' %} <span class="sr-only">(current)</span> {% endif %}</a>
            </li>
        </ul>
        <span class="navbar-text">
        {{session.email}}
        </span>
        <a class="btn btn-outline-success my-2 my-sm-0" href="logout">Deconnexion</a>
    </div>
</nav>