<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="logo.png" />
    {% block css %}{% endblock css %}
    {% block scripts %}{% endblock scripts %}
</head>
<body>
    {% block body %}{% endblock body %}

    {% block scriptsBis %}{% endblock scriptsBis %}
</body>
</html>