{% extends 'base.html' %}

{% block body %}

<h1>OOOOOPS !</h1>
<h2>Une erreur interne est survenue, votre requête n'a pas pu aboutir.</h2>
<h3>Ceci est une erreur 500 ...</h3>
<a href="index">Revenir à l'accueil</a>

{% Endblock body %}
