<template>
    <div class="bienvenue">
        <div id="main">
            <center>
                <div id="debut">
                    <h1 class="titre">GeoQuizz</h1>
                        Nom du joueur: <input type="text" v-model="nomJoueur" placeholder="Pseudo" name="pseudo" required>
                        <br>
                        Choississez votre série: 
                        <select id="ville" v-model="ville" name="ville" required>
                            <option v-for="ville in villes" :key="ville.id">{{ville[1]}}</option>
                        </select>
                    <br>
                    <br>
                    <button class="btn-lancerPartie" @click="lancerPartie()">Lancer une partie</button>
                </div>
                <br>
                <br>
            </center>
        </div>
    </div>
</template>
<script> 
export default {
    name: 'Bienvenue',
    data: function() {
        return {
            nomJoueur : '',
            villes: [],
            ville: '',
            imagesSerie: [],
            errors:[],
            difficulte:1,
            token:''
        }
    },
    mounted() {
        
        let tempThis = this;
        axios.get('/series')
        .then(function (response) {                
            for(let data of response.data) {
                //pour ajouter des attributs à une ville
                tempThis.villes.push([data.id, data.ville]);
            }
            // Remplis le champs avec la première ville de la liste
            tempThis.ville = tempThis.villes[0][1];
        })
        .catch(function (error) {
            console.log(error);
        });
    },
    methods : {
        //Lancement de la partie
        lancerPartie() {

            let tempThis = this;
            let idVille = tempThis.villes.find(function(element) {
                return element[1] === tempThis.ville;
            })[0]


            if(this.nomJoueur && this.ville){
                tempThis.$store.commit('setNomJoueur', this.nomJoueur);
                
                window.axios.post('/partie/', {
                    nom_joueur: tempThis.nomJoueur,
                    id_serie: idVille,
                    difficulte: tempThis.difficulte
                }).then((response) => {
                    window.axios.defaults.params.token = response.data.token;
                    console.log(response.data);
                    tempThis.$store.commit('setPartie', response.data.id_partie);//Mise à jour de la partie
                    tempThis.$store.commit('setSerie', response.data);//Mise à jour de la série 
                    tempThis.$store.commit('setPhoto',response.data);//Mise à jour des photos
                    tempThis.$router.push('/Partie');
                })
                .catch((error) => {
                    console.log(error);
                })  
            } 
            else 
            {
                alert("Erreur: Données manquante");
            }
        }
        
    }
}
</script>

<style scoped>
    body {
        background-color: #1e1e1e;
    }

    #main {
        margin-left: auto;
        margin-right: auto;
        height:300px;
        width: 700px;
        background-color: #f0f0f0;
        border-radius: 8%;
        padding-top: 0.2%;
        padding-bottom: 1.5%;
        margin-block-start:10%;
    }
    .titre{
        font-family: 'Lobster', cursive;
    }
    #debut{
        font-size: 22px;
    }
    .btn-lancerPartie{
        border-color: green;
        border-radius: 10px;
    }
    
</style>