<template>
    <div class="finpartie">
        <div id="main">
            <h1 class="titre"> Fin de la Partie</h1>
            <table id="score">
                <thead>
                    <tr>
                        <th>
                            Pseudo
                            <span class="arrow">
                            </span>
                        </th>
                        <th>
                            Score
                            <span class="arrow">
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{$store.state.nomJoueur}}
                        </td>
                         <td>
                            {{$store.state.score}}/200
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
export default {
 
  data() {
    return {
        score: 0,
    }
       
  },
  mounted() {
   console.log(this.$store.state.nomJoueur)
  },
  computed: {
    
  },
  methods: {
      
  },
   
    
}
</script>

<style scoped>
  .titre{
        font-family: 'Lobster', cursive;
    }
    #score{
        margin-left: 25%;
        margin-top: 20%;
        font-size: 30px;
        color: #2c3e50;
        text-align:center;
        font-family: 'Lobster', cursive;
        border-width:1px; 
        border-style:solid; 
        border-color:black;
        width:50%;
    }

</style>