<template>
  <div class="partie">
    <div id="main">
      <h1 class="titre">Partie de : {{$store.state.nomJoueur}}   {{$store.state.indice + 1}}/10</h1>
      <b-container class="bv-example-row">
        <b-row class="text-center">
          <b-col cols="6" >
            <img id="image" v-bind:src="$store.state.photos[$store.state.indice].URL">
            <!--Iut_charlemagne.jpg-->
            <div id="description">
              {{$store.state.photos[$store.state.indice].description}}
              {{$store.state.indice + 1}}/10
            
            </div>
          </b-col>
          <b-col id="map">
            <l-map
              ref="myMap"
              style="height: 80%; width: 100%"
              :zoom="zoom"
              :center="center"
              @update:zoom="zoomUpdated"
              @update:center="centerUpdated"
              @update:bounds="boundsUpdated"
              @click="addMarker"
            >
              <l-marker id="markerPhoto" v-if="markerLatLng" :lat-lng="markerLatLng"></l-marker>
              <l-marker v-if="isMarkerVisble" :lat-lng="markerphoto" :icon="icon"></l-marker>
              <l-tile-layer :url="url"></l-tile-layer>
            </l-map>
            <div id="info">
              Score: {{score}}/200
              <div id="timer">
                <span id="minutes">{{ minutes }}</span>
                <span id="middle">:</span>
                <span id="seconds">{{ seconds }}</span>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>

      <b-container id="suivant" class="bv-example-row">
        <b-row class="text-center">
          <b-col cols="6">
            <template v-if="isClickable">
              <button id="btn-suivant" @click="suivant">Suivant</button>
            </template>
            <template v-else>
              <button id="btn-suivant" @click="suivant" disabled>Suivant</button>
            </template>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      zoom: this.$store.state.serie.zoom,
      photos: [],
      center: [
        this.$store.state.serie.latitude,
        this.$store.state.serie.longitude
      ],
      markerLatLng: null,
      bounds: null,
      distance: null,
      isClickable : false,
      isMarkerVisble: false,
      alreadyClicked: false,
      score: 0,
      markerphoto: null,
      photos: [],
      timer: null,
      totalTime: 20,
      icon: L.icon({
        iconUrl: "https://dharmamerchantservices.com/wp-content/uploads/2015/04/locationpin-1.png",
        iconSize: [35, 35]
      })
    };
  },
  mounted() {
    this.$store.state.indice = 0;
    let timer;
    this.markerphoto = L.latLng(
      this.$store.state.photos[this.$store.state.indice].latitude,
      this.$store.state.photos[this.$store.state.indice].longitude
    );
    this.isMarkerVisble = false;
    this.alreadyClicked = false;


    this.$nextTick(() => {
      this.$refs.myMap.mapOject;
    }),

    this.resetTimer();
  },
  computed: {
    minutes() {
      const minutes = Math.floor(this.totalTime / 60);
      return this.padTime(minutes);
    },
    seconds() {
      const seconds = this.totalTime - this.minutes * 60;
      //var seconds = Math.floor((this.totalTime % (1000 * 60)) / 1000);
      return this.padTime(seconds);
    }
  },
  methods: {
   
    zoomUpdated(zoom) {
      this.zoom = zoom;
    },

    centerUpdated(center) {
      this.center = center;
    },

    boundsUpdated(bounds) {
      this.bounds = bounds;
    },

    callURL() {
      //console.log(data);
      return this.data.url;
    },

    callLatitude() {
      return this.data.latitude;
    },

    addMarker(event) {
      if (!this.alreadyClicked) {

        this.alreadyClicked = true;
        this.isClickable = true;
        this.markerLatLng = [event.latlng.lat, event.latlng.lng];

        //stoper le timer 
        this.stopTimer();

        //Calcul de la distance entre les deux markers
        this.distance = this.markerphoto.distanceTo(this.markerLatLng);
        let d = 500;

         //calcul des points
       
        let point = 0;
       
        if (this.distance < d) {
          point = 5;
          let audio = new Audio(require('../assets/music/supratuturu.mp3'));
          audio.play();
        } else if (this.distance < 2 * d) {
          point = 3;
        } else if (this.distance < 3 * d) {
          point = 1;
        } else {
          point = 0;
        }
        if (this.seconds > 15) {
          point = point * 4;
        } else if (this.seconds > 10) {
          point = point * 2;
        } else if (this.seconds <= 10) {
          point = point * 1;
        } else {
          point = 0;
        }

        this.score = this.score + point;
        this.$store.commit("setScore", this.score);
        //Affichage du Marker Réponse
        this.isMarkerVisble = true;
      }
    },

    //Arrêt du Timer
    stopTimer() {
      clearInterval(this.timer);
      this.timer = null;
    },

    // photo suivante 
    suivant() {
      /* Reset le timer */
      this.center = [this.$store.state.serie.latitude,this.$store.state.serie.longitude];
      this.zoom = this.$store.state.serie.zoom;
      this.resetTimer();
      
      /* Hidden le marker de la réponse */
      this.isMarkerVisble = false;
      /*Désactive la map */
      this.alreadyClicked = false;
      this.isClickable = false;

      /* Si ce n'est pas la dernière photo on continue a jouer */
      if(this.$store.state.indice < 9){
        this.$store.commit("incrementIndice"); //Incrémentation de l'indice
        this.markerphoto = L.latLng(
          this.$store.state.photos[this.$store.state.indice].latitude,
          this.$store.state.photos[this.$store.state.indice].longitude
        );
        this.markerLatLng = null;
      }
      /* Sinon on fini la partie */
      else{
        console.log( this.$store.state.partie);
        window.axios.put('partie/'+ this.$store.state.partie, {
          score: this.score,
        }).then((response) => {
            this.$store.commit("setPartie", response.data)
            this.$router.push('/FinPartie');
          })
          .catch((error) => {
          console.log(error.response);
          })
      }
    },

    resetTimer(){
      
      this.totalTime = 20;
      this.timer = setInterval(() => this.countdown(), 1000);
    },
    //Affichage du temps
    padTime(time) {
      return (time < 10 ? "0" : "") + time;
    },

    countdown() {
     
      if (this.totalTime >= 1) {
        this.totalTime--;
      } else {
        this.totalTime = 0;
        //stope le timer
        this.stopTimer();
       
        this.alreadyClicked = true;

        //montre le marker de la photo
        this.isMarkerVisble = true;
        this.isClickable = true;
       
      }
    }
  }
};
</script>

<style scoped>
#map {
  /*float: right;*/
  margin-right: 70px;
  width: 40em;
  height: 40em;
  margin-right: 70px;
}
#image {
  float: left;
  margin-left: 120px;
  width: 400px;
  height: 400px;
}
#btn-valider {
  font: bold;
  width: 80%;
  height: 150%;
}

#makerPhoto {
  display: none;
}
.titre{
      font-family: 'Lobster', cursive;
}
#description{
  margin-bottom: 10%;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
#btn-suivant{
  border-color:  #2c3e50;
  border-radius: 10px;
  height: 50px;
  width: 70%;
  margin-left: 90px;

}
#suivant{
  margin-top:-90px;
}
#info {
  font-size: 30px;
  color: #2c3e50;
  text-align:center;
  font-family: 'Lobster', cursive;
}
</style>