{% include "block.html" %}
<body>
    <table border="1">
        <caption><h3>Parties</h3></caption>
        <tr>
            <th>token</th>
            <th>nb_photos</th>
            <th>status</th>
            <th>score</th>
        </tr>
        {% for i in parties %}
        <tr>
            <td>{{ i.token }} </td>
            <td>{{ i.nb_photos }} </td>
            <td>{{ i.status }} </td>
            <td>{{ i.score }} </td>
        </tr>
        {% endfor %}
    </table>
</body>