{% extends 'base.html' %}

{% block body %}

{% include 'Header/Header.html' %}

<div class="row">
    <div class="col-md-12">
        <h1>Bienvenue dans le Backoffice de Geoquizz.</h1>
    </div>
    <div class="col-md-12">
        <h3>Vous pouvez ici importer des photos, créer des séries et modifier les photos.</h3>
    </div>

    <article class="col-md-12">
        <header>
            <h1>Les liens pour bien débuter</h1>
        </header>
        <div>
            <ul>
                <li>Importer des photos: <a href="#">/importer/</a></li>
                <li>Créer une serie: <a href="#">/serie/</a></li>
                <li>Modifier des photos: <a href="#">/modifier/</a></li>
            </ul>
        </div>
    </article>


</div>


{% endblock body %}