{% extends "base.html" %}

{% block body %}

{% include 'Header/Header.html' %}

<div class="row">

    {% include 'Header/HeaderPhoto.html' %}

    <article class="col-md-12">
        <header><h1>Photo n° {{ data.id }}</h1></header>
        <p>Modifiez les éléments et/ou attribuez la photo à une série</p>
        <form method="POST" action="editphoto">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ data.url }}" alt="{{ data.id }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="col-md-12 form-group" >
                    <label for="longitude">Longitude</label>
                    <input class="form-control" name="longitude" id="longitude" type="number" step="any" value="{{data.longitude}}" required/>
                </div>
                <div class="col-md-12 form-group" >
                    <label for="latitude">Latitude</label>
                    <input class="form-control" name="latitude" id="latitude" type="number" step="any" value="{{data.latitude}}" required/>
                </div>
                <div class="col-md-12 form-group" >
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="5" cols="30">{{data.description}}</textarea>
                </div>
                <div class="col-md-12">
                    <label for="id_serie">Choisir une série</label>
                    <select id="id_serie" name="id_serie">
                        {% for row in serie %}
                        <option value="{{row.id}}">{{row.ville}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input type="hidden" name="photo" value="{{data.id}}">
            <button class="btn btn-primary col-md-3 offset-md-9" type="submit">Enregistrer</button>
        </div>


        </form>


    </article>

</div>
{% endblock body %}
