{% extends "base.html" %}

{% block body %}

{% include 'Header/Header.html' %}

<div class="row">

    {% include 'Header/HeaderPhoto.html' %}

    <article class="col-md-12">
        <header><h1>Import de photo</h1></header>
        <div class="row">

            <form method="POST" action="import" enctype="multipart/form-data">
                <div class="row">
                    <label class="col-md-12">Select file to upload:</label>
                    <input class="form-control col-md-8" type="file" name="newfile">
                    <button type="submit" class="btn btn-primary col-md-3 offset-md-9">Upload</button>
                </div>
            </form>



        </div>


    </article>

</div>
{% endblock body %}
