{% extends "base.html" %}

{% block body %}

{% include 'Header/Header.html' %}

<div class="row">

    {% include 'Header/HeaderPhoto.html' %}

    <article class="col-md-12">
        <header><h2>Consultation de toutes les photos</h2></header>
        <table id="photos" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>


            {% for photo in data %}
            <tr>
                <td>{{ photo.id }}</td>
                <td><a href="{{ photo.url }}" target="_blank">{{photo.url}}</a></td>
                <td>{{ photo.latitude }}</td>
                <td>{{ photo.longitude }}</td>
                <td>{{ photo.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Description</th>
            </tr>
            </tfoot>


        </table>

    </article>

</div>
{% endblock body %}

{% block scriptsBis %}
<script type="application/javascript">
    $(document).ready(function() {
        $('#photos').DataTable(
            {
                "paging":   true,
                "ordering": true,
                "info":     true
            }
        );
    } );
</script>
{% endblock scriptsBis %}
