{% extends "base.html" %}

{% block body %}

{% include 'Header/Header.html' %}

<div class="row">

    {% include 'Header/HeaderPhoto.html' %}

    <article class="col-md-12">
        <header><h2>Consultation de toutes les photos non classées</h2></header>
        <form method="POST" action="photoseries">

            <button type="submit" id="btn1" class="btn btn-primary mb-2" disabled>Modifier</button>
            <table id="photos" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>selection</th>
                    <th>Id</th>
                    <th>Url</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Zoom</th>
                </tr>
                </thead>
                <tbody>

                {% for photo in data %}
                <tr>
                    <td><input type="radio" name="photo" value="{{ photo.id }}" onClick="Enable();"></td>
                    <td>{{ photo.id }}</td>
                    <td><a target="_blank" href="{{ photo.url }}">{{ photo.url }}</a></td>
                    <td>{{ photo.latitude }}</td>
                    <td>{{ photo.longitude }}</td>
                    <td>{{ photo.description }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Selection</th>
                    <th>Id</th>
                    <th>Url</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Zoom</th>
                </tr>
                </tfoot>
            </table>
            <button type="submit" id="btn2" class="btn btn-primary mb-2" disabled>Modifier</button>
        </form>

    </article>

</div>
{% endblock body %}

{% block scriptsBis %}



<script type="application/javascript">
    $(document).ready(function() {
        $('#photos').DataTable(
            {
                "paging":   true,
                "ordering": true,
                "info":     true
            }
        );
    } );

    function Enable(){
        document.getElementById("btn1").disabled = false;
        document.getElementById("btn2").disabled = false;
    }
</script>
{% endblock scriptsBis %}
