{% extends 'base.html' %}

{% block body %}

{% include 'Header/Header.html' %}

<div class="row">

    {% include 'Header/HeaderSerie.html' %}

    <article class="col-md-12">
        <header><h1>Ajouter une serie</h1></header>

        <form method="POST" action="addserie">

            <div class="form-group">
                <label for="ville">Ville</label>
                <input name="ville" class="form-control" id="ville" type="text" placeholder="Entrez le nom de la ville" required />
            </div>
            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input name="latitude" class="form-control" id="latitude" type="number" step="any" placeholder="Entrez la latitude de la ville" required />
            </div>
            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input name="longitude" class="form-control" id="longitude" type="number" step="any" placeholder="Entrez la longitude de la ville" required />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Ajouter</button>
        </form>
    </article>

</div>

{% endblock body %}