{% extends "base.html" %}

{% block body %}

{% include 'Header/Header.html' %}

<div class="row">

    {% include 'Header/HeaderSerie.html' %}

    <article class="col-md-12">
        <header><h2>Consultation de toutes les series</h2></header>
        <table id="series" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Ville</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Zoom</th>
            </tr>
            </thead>
            <tbody>

            {% for serie in data %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.ville }}</td>
                <td>{{ serie.latitude }}</td>
                <td>{{ serie.longitude }}</td>
                <td>{{ serie.zoom }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Id</th>
                <th>Ville</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Zoom</th>
            </tr>
            </tfoot>


        </table>

    </article>

</div>
{% endblock body %}

{% block scriptsBis %}
<script type="application/javascript">
    $(document).ready(function() {
        $('#series').DataTable(
            {
                "paging":   true,
                "ordering": true,
                "info":     true
            }
        );
    } );
</script>
{% endblock scriptsBis %}
