{% extends "base.html" %}



{% block body %}

    <form method="POST" action="signin">

        <div class="form-group">
            <label for="email">Adresse Mail</label>
            <input name="email" class="form-control" id="email" type="email" placeholder="Entrez votre adresse mail" required />
        </div>
        <div class="form-group">
            <label for="mdp">Password</label>
            <input class="form-control" name="mdp" id="mdp" type="password" placeholder="Entrez votre Mot de Passe" required />
        </div>
            <a href="signup">Pas encore de compte ?</a>
        <button type="submit" class="btn btn-primary mb-2">Connection</button>
    </form>
{% endblock body %}